--
-- PostgreSQL database dump
--

\restrict zbeCXttzF6wn5wVt3T9DtgLx5v1Uyyol4LffvaY371FjU2ibGvL8jzp4zMYk4De

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ApprovalStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ApprovalStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'ON_HOLD'
);


ALTER TYPE public."ApprovalStatus" OWNER TO postgres;

--
-- Name: CandidateStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CandidateStatus" AS ENUM (
    'APPLIED',
    'SCREENING',
    'SHORTLISTED',
    'INTERVIEW_ROUND_1',
    'INTERVIEW_ROUND_2',
    'HR_ROUND',
    'SELECTED',
    'OFFER_SENT',
    'OFFER_ACCEPTED',
    'JOINED',
    'REJECTED',
    'WITHDRAWN',
    'ON_HOLD'
);


ALTER TYPE public."CandidateStatus" OWNER TO postgres;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE',
    'OTHER',
    'PREFER_NOT_TO_SAY'
);


ALTER TYPE public."Gender" OWNER TO postgres;

--
-- Name: InterviewRecommendation; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InterviewRecommendation" AS ENUM (
    'STRONGLY_RECOMMENDED',
    'RECOMMENDED',
    'NEUTRAL',
    'NOT_RECOMMENDED',
    'STRONGLY_NOT_RECOMMENDED'
);


ALTER TYPE public."InterviewRecommendation" OWNER TO postgres;

--
-- Name: InterviewStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InterviewStatus" AS ENUM (
    'SCHEDULED',
    'COMPLETED',
    'CANCELLED',
    'RESCHEDULED',
    'NO_SHOW'
);


ALTER TYPE public."InterviewStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'APPLICATION_RECEIVED',
    'INTERVIEW_SCHEDULED',
    'INTERVIEW_REMINDER',
    'OFFER_SENT',
    'OFFER_ACCEPTED',
    'OFFER_REJECTED',
    'STATUS_CHANGED',
    'APPROVAL_REQUIRED',
    'GENERAL'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: OfferStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OfferStatus" AS ENUM (
    'DRAFT',
    'PENDING_APPROVAL',
    'APPROVED',
    'SENT',
    'ACCEPTED',
    'REJECTED',
    'EXPIRED',
    'WITHDRAWN'
);


ALTER TYPE public."OfferStatus" OWNER TO postgres;

--
-- Name: Priority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Priority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public."Priority" OWNER TO postgres;

--
-- Name: QuestionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestionType" AS ENUM (
    'MCQ',
    'TEXT',
    'TRUE_FALSE'
);


ALTER TYPE public."QuestionType" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: application_timeline; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_timeline (
    id text NOT NULL,
    "applicationId" text NOT NULL,
    "fromStatus" public."CandidateStatus",
    "toStatus" public."CandidateStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdById" text
);


ALTER TABLE public.application_timeline OWNER TO postgres;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id text NOT NULL,
    "candidateId" text NOT NULL,
    "jobId" text NOT NULL,
    "sourceId" text,
    status public."CandidateStatus" DEFAULT 'APPLIED'::public."CandidateStatus" NOT NULL,
    "coverLetter" text,
    "currentStageId" text,
    "rejectionReason" text,
    "appliedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: assessment_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_answers (
    id text NOT NULL,
    "attemptId" text NOT NULL,
    "questionId" text NOT NULL,
    "answerText" text,
    "isCorrect" boolean,
    "marksGiven" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.assessment_answers OWNER TO postgres;

--
-- Name: assessment_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_attempts (
    id text NOT NULL,
    "templateId" text NOT NULL,
    "candidateId" text NOT NULL,
    "applicationId" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    score integer,
    "totalMarks" integer,
    "isPassed" boolean,
    "isTimedOut" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.assessment_attempts OWNER TO postgres;

--
-- Name: assessment_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_questions (
    id text NOT NULL,
    "templateId" text NOT NULL,
    "questionText" text NOT NULL,
    "questionType" public."QuestionType" DEFAULT 'MCQ'::public."QuestionType" NOT NULL,
    options jsonb,
    "correctAnswer" text,
    marks integer DEFAULT 1 NOT NULL,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    explanation text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.assessment_questions OWNER TO postgres;

--
-- Name: assessment_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_templates (
    id text NOT NULL,
    "jobId" text NOT NULL,
    title text NOT NULL,
    description text,
    "durationMins" integer DEFAULT 30 NOT NULL,
    "passingScore" integer DEFAULT 60 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.assessment_templates OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text,
    action text NOT NULL,
    resource text NOT NULL,
    "resourceId" text,
    "oldValues" jsonb,
    "newValues" jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: candidate_educations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_educations (
    id text NOT NULL,
    "candidateId" text NOT NULL,
    "educationId" text,
    degree text NOT NULL,
    "fieldOfStudy" text,
    institution text NOT NULL,
    "startYear" integer,
    "endYear" integer,
    grade text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.candidate_educations OWNER TO postgres;

--
-- Name: candidate_experiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_experiences (
    id text NOT NULL,
    "candidateId" text NOT NULL,
    company text NOT NULL,
    designation text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "isCurrent" boolean DEFAULT false NOT NULL,
    description text,
    location text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.candidate_experiences OWNER TO postgres;

--
-- Name: candidate_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_notes (
    id text NOT NULL,
    "candidateId" text NOT NULL,
    note text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdById" text NOT NULL
);


ALTER TABLE public.candidate_notes OWNER TO postgres;

--
-- Name: candidate_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_skills (
    id text NOT NULL,
    "candidateId" text NOT NULL,
    "skillId" text NOT NULL,
    "yearsOfExp" double precision
);


ALTER TABLE public.candidate_skills OWNER TO postgres;

--
-- Name: candidate_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_tags (
    id text NOT NULL,
    "candidateId" text NOT NULL,
    tag text NOT NULL
);


ALTER TABLE public.candidate_tags OWNER TO postgres;

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidates (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text NOT NULL,
    phone text,
    "alternatePhone" text,
    gender public."Gender",
    "dateOfBirth" timestamp(3) without time zone,
    "currentLocation" text,
    "currentCompany" text,
    "currentDesignation" text,
    "currentSalary" numeric(12,2),
    "expectedSalary" numeric(12,2),
    "totalExperience" double precision,
    "noticePeriodDays" integer,
    "linkedinUrl" text,
    "portfolioUrl" text,
    "resumeUrl" text,
    "resumeOriginalName" text,
    "profileSummary" text,
    "sourceId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.candidates OWNER TO postgres;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text,
    "headId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: designations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designations (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text,
    level integer,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.designations OWNER TO postgres;

--
-- Name: educations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.educations (
    id text NOT NULL,
    name text NOT NULL,
    level integer,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.educations OWNER TO postgres;

--
-- Name: email_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_templates (
    id text NOT NULL,
    name text NOT NULL,
    subject text NOT NULL,
    body text NOT NULL,
    category text,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.email_templates OWNER TO postgres;

--
-- Name: employment_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employment_types (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.employment_types OWNER TO postgres;

--
-- Name: experience_levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.experience_levels (
    id text NOT NULL,
    name text NOT NULL,
    "minYears" double precision NOT NULL,
    "maxYears" double precision,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.experience_levels OWNER TO postgres;

--
-- Name: interview_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_feedback (
    id text NOT NULL,
    "interviewId" text NOT NULL,
    "interviewerId" text NOT NULL,
    "technicalRating" integer,
    "communicationRating" integer,
    "problemSolvingRating" integer,
    "overallRating" integer,
    strengths text,
    weaknesses text,
    comments text,
    recommendation public."InterviewRecommendation",
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.interview_feedback OWNER TO postgres;

--
-- Name: interview_interviewers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_interviewers (
    id text NOT NULL,
    "interviewId" text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.interview_interviewers OWNER TO postgres;

--
-- Name: interview_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_types (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.interview_types OWNER TO postgres;

--
-- Name: interviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interviews (
    id text NOT NULL,
    "applicationId" text NOT NULL,
    "interviewTypeId" text,
    round integer DEFAULT 1 NOT NULL,
    title text NOT NULL,
    "scheduledAt" timestamp(3) without time zone NOT NULL,
    "durationMinutes" integer DEFAULT 60 NOT NULL,
    location text,
    "meetingLink" text,
    status public."InterviewStatus" DEFAULT 'SCHEDULED'::public."InterviewStatus" NOT NULL,
    notes text,
    "scheduledById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.interviews OWNER TO postgres;

--
-- Name: job_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_skills (
    id text NOT NULL,
    "jobId" text NOT NULL,
    "skillId" text NOT NULL,
    "isRequired" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.job_skills OWNER TO postgres;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    "departmentId" text NOT NULL,
    "designationId" text NOT NULL,
    "locationId" text NOT NULL,
    "employmentTypeId" text,
    "experienceLevelId" text,
    "requisitionId" text,
    description text NOT NULL,
    responsibilities text,
    requirements text,
    benefits text,
    "salaryMin" numeric(12,2),
    "salaryMax" numeric(12,2),
    "showSalary" boolean DEFAULT false NOT NULL,
    "numberOfPositions" integer DEFAULT 1 NOT NULL,
    priority public."Priority" DEFAULT 'MEDIUM'::public."Priority" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "isPublished" boolean DEFAULT false NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "closingDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdById" text NOT NULL,
    "updatedById" text
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: joining_checklists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.joining_checklists (
    id text NOT NULL,
    "applicationId" text NOT NULL,
    "joiningDate" timestamp(3) without time zone,
    "employeeId" text,
    documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    "checklistItems" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "isCompleted" boolean DEFAULT false NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.joining_checklists OWNER TO postgres;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id text NOT NULL,
    name text NOT NULL,
    city text NOT NULL,
    state text NOT NULL,
    country text DEFAULT 'India'::text NOT NULL,
    pincode text,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: manpower_requisitions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manpower_requisitions (
    id text NOT NULL,
    "requisitionNumber" text NOT NULL,
    "departmentId" text NOT NULL,
    "designationId" text NOT NULL,
    "locationId" text NOT NULL,
    "experienceLevelId" text,
    "numberOfPositions" integer NOT NULL,
    "filledPositions" integer DEFAULT 0 NOT NULL,
    "salaryMin" numeric(12,2),
    "salaryMax" numeric(12,2),
    "jobDescription" text,
    priority public."Priority" DEFAULT 'MEDIUM'::public."Priority" NOT NULL,
    "hiringManagerId" text,
    "approvalStatus" public."ApprovalStatus" DEFAULT 'PENDING'::public."ApprovalStatus" NOT NULL,
    "approvedById" text,
    "approvedAt" timestamp(3) without time zone,
    "rejectionReason" text,
    "targetDate" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdById" text NOT NULL
);


ALTER TABLE public.manpower_requisitions OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    data jsonb,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: offers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.offers (
    id text NOT NULL,
    "applicationId" text NOT NULL,
    "offerNumber" text NOT NULL,
    status public."OfferStatus" DEFAULT 'DRAFT'::public."OfferStatus" NOT NULL,
    ctc numeric(12,2) NOT NULL,
    "joiningBonus" numeric(12,2),
    "joiningDate" timestamp(3) without time zone,
    designation text NOT NULL,
    department text NOT NULL,
    location text NOT NULL,
    "salaryBreakdown" jsonb,
    terms text,
    "expiresAt" timestamp(3) without time zone,
    "sentAt" timestamp(3) without time zone,
    "acceptedAt" timestamp(3) without time zone,
    "rejectedAt" timestamp(3) without time zone,
    "rejectionReason" text,
    "approvalStatus" public."ApprovalStatus" DEFAULT 'PENDING'::public."ApprovalStatus" NOT NULL,
    "approvedById" text,
    "approvedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdById" text NOT NULL
);


ALTER TABLE public.offers OWNER TO postgres;

--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_resets (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_resets OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    resource text NOT NULL,
    action text NOT NULL,
    "displayName" text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: reasons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reasons (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.reasons OWNER TO postgres;

--
-- Name: recruitment_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recruitment_sources (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.recruitment_sources OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "isRevoked" boolean DEFAULT false NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: requisition_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requisition_skills (
    id text NOT NULL,
    "requisitionId" text NOT NULL,
    "skillId" text NOT NULL,
    "isRequired" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.requisition_skills OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id text NOT NULL,
    "roleId" text NOT NULL,
    "permissionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id text NOT NULL,
    name text NOT NULL,
    "displayName" text NOT NULL,
    description text,
    "isSystem" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id text NOT NULL,
    name text NOT NULL,
    category text,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    phone text,
    avatar text,
    "roleId" text NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "departmentId" text,
    "lastLoginAt" timestamp(3) without time zone,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: application_timeline; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.applications (id, "candidateId", "jobId", "sourceId", status, "coverLetter", "currentStageId", "rejectionReason", "appliedAt", "createdAt", "updatedAt") FROM stdin;
326a3d89-76ec-4f1b-9566-06ea8e4be4e9	cbeab33e-236c-415c-8e5f-ce606a20ce2a	453da3f0-fb12-471a-a5a8-c114fe9f6dae	\N	SCREENING	\N	\N	\N	2026-08-04 17:02:55.474	2026-08-04 17:02:55.474	2026-08-04 17:03:53.203
b0e6517a-e64c-40bb-925c-551bee3fb60b	f0d6e542-ca03-42de-a162-3f2f73f14691	453da3f0-fb12-471a-a5a8-c114fe9f6dae	\N	SHORTLISTED	\N	\N	\N	2026-08-04 17:14:31.271	2026-08-04 17:14:31.271	2026-08-04 17:26:37.611
\.


--
-- Data for Name: assessment_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_answers (id, "attemptId", "questionId", "answerText", "isCorrect", "marksGiven", "createdAt") FROM stdin;
\.


--
-- Data for Name: assessment_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_attempts (id, "templateId", "candidateId", "applicationId", "startedAt", "submittedAt", score, "totalMarks", "isPassed", "isTimedOut", "createdAt") FROM stdin;
\.


--
-- Data for Name: assessment_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_questions (id, "templateId", "questionText", "questionType", options, "correctAnswer", marks, "orderIndex", explanation, "createdAt") FROM stdin;
\.


--
-- Data for Name: assessment_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_templates (id, "jobId", title, description, "durationMins", "passingScore", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, "userId", action, resource, "resourceId", "oldValues", "newValues", "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: candidate_educations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.candidate_educations (id, "candidateId", "educationId", degree, "fieldOfStudy", institution, "startYear", "endYear", grade, "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: candidate_experiences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.candidate_experiences (id, "candidateId", company, designation, "startDate", "endDate", "isCurrent", description, location, "createdAt") FROM stdin;
\.


--
-- Data for Name: candidate_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.candidate_notes (id, "candidateId", note, "createdAt", "createdById") FROM stdin;
\.


--
-- Data for Name: candidate_skills; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.candidate_skills (id, "candidateId", "skillId", "yearsOfExp") FROM stdin;
\.


--
-- Data for Name: candidate_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.candidate_tags (id, "candidateId", tag) FROM stdin;
\.


--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: designations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: educations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.educations (id, name, level, description, "isActive", "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: email_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_templates (id, name, subject, body, category, description, "isActive", "createdAt", "updatedAt") FROM stdin;
48cb5123-200c-4740-b569-5055208802ba	Shortlist	Congratulations - {{candidate_name}}	Dear {{candidate_name}},\nCongratulations You are Selected.	SHORTLISTED	shortlist-site	t	2026-08-04 17:26:26.301	2026-08-04 17:26:26.301
\.


--
-- Data for Name: employment_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: experience_levels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: interview_feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interview_feedback (id, "interviewId", "interviewerId", "technicalRating", "communicationRating", "problemSolvingRating", "overallRating", strengths, weaknesses, comments, recommendation, "submittedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: interview_interviewers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interview_interviewers (id, "interviewId", "userId") FROM stdin;
\.


--
-- Data for Name: interview_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interview_types (id, name, description, "isActive", "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: interviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interviews (id, "applicationId", "interviewTypeId", round, title, "scheduledAt", "durationMinutes", location, "meetingLink", status, notes, "scheduledById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: job_skills; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_skills (id, "jobId", "skillId", "isRequired") FROM stdin;
231bb652-1f17-45ca-9c58-ce4901cd61fd	453da3f0-fb12-471a-a5a8-c114fe9f6dae	d1178aa7-ab56-40ed-b905-5204f34f92c6	t
08092aee-3416-425a-85a4-75ec8ef40524	453da3f0-fb12-471a-a5a8-c114fe9f6dae	59e2aa3b-f950-49b5-8f63-9a8ebb7c893e	t
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: joining_checklists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.joining_checklists (id, "applicationId", "joiningDate", "employeeId", documents, "checklistItems", "isCompleted", "completedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manpower_requisitions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manpower_requisitions (id, "requisitionNumber", "departmentId", "designationId", "locationId", "experienceLevelId", "numberOfPositions", "filledPositions", "salaryMin", "salaryMax", "jobDescription", priority, "hiringManagerId", "approvalStatus", "approvedById", "approvedAt", "rejectionReason", "targetDate", "isActive", "createdAt", "updatedAt", "deletedAt", "createdById") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, "userId", type, title, message, data, "isRead", "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: offers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.offers (id, "applicationId", "offerNumber", status, ctc, "joiningBonus", "joiningDate", designation, department, location, "salaryBreakdown", terms, "expiresAt", "sentAt", "acceptedAt", "rejectedAt", "rejectionReason", "approvalStatus", "approvedById", "approvedAt", "createdAt", "updatedAt", "createdById") FROM stdin;
\.


--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_resets (id, "userId", token, "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reasons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reasons (id, name, type, description, "isActive", "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: recruitment_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: requisition_skills; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.requisition_skills (id, "requisitionId", "skillId", "isRequired") FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, "passwordHash", "firstName", "lastName", phone, avatar, "roleId", status, "departmentId", "lastLoginAt", "emailVerified", "createdAt", "updatedAt", "deletedAt") FROM stdin;
5c9999ea-12b3-4a4c-9905-0ab47cafbcae	admin@company.com	$2b$12$apybrv/yeDNp3LhOJ4yoGOSkrzJI2838ANFJ2tD4VBAPZD0tyoiVa	Super	Admin	\N	\N	30d3d5ae-8b4c-4f9e-abb0-0c550e454573	ACTIVE	\N	2026-08-05 05:07:15.407	t	2026-08-04 12:27:05.454	2026-08-05 05:07:15.408	\N
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: application_timeline application_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_timeline
    ADD CONSTRAINT application_timeline_pkey PRIMARY KEY (id);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: assessment_answers assessment_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_answers
    ADD CONSTRAINT assessment_answers_pkey PRIMARY KEY (id);


--
-- Name: assessment_attempts assessment_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_attempts
    ADD CONSTRAINT assessment_attempts_pkey PRIMARY KEY (id);


--
-- Name: assessment_questions assessment_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions
    ADD CONSTRAINT assessment_questions_pkey PRIMARY KEY (id);


--
-- Name: assessment_templates assessment_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_templates
    ADD CONSTRAINT assessment_templates_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: candidate_educations candidate_educations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_educations
    ADD CONSTRAINT candidate_educations_pkey PRIMARY KEY (id);


--
-- Name: candidate_experiences candidate_experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_experiences
    ADD CONSTRAINT candidate_experiences_pkey PRIMARY KEY (id);


--
-- Name: candidate_notes candidate_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_notes
    ADD CONSTRAINT candidate_notes_pkey PRIMARY KEY (id);


--
-- Name: candidate_skills candidate_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_skills
    ADD CONSTRAINT candidate_skills_pkey PRIMARY KEY (id);


--
-- Name: candidate_tags candidate_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_tags
    ADD CONSTRAINT candidate_tags_pkey PRIMARY KEY (id);


--
-- Name: candidates candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: designations designations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designations
    ADD CONSTRAINT designations_pkey PRIMARY KEY (id);


--
-- Name: educations educations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.educations
    ADD CONSTRAINT educations_pkey PRIMARY KEY (id);


--
-- Name: email_templates email_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_templates
    ADD CONSTRAINT email_templates_pkey PRIMARY KEY (id);


--
-- Name: employment_types employment_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employment_types
    ADD CONSTRAINT employment_types_pkey PRIMARY KEY (id);


--
-- Name: experience_levels experience_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experience_levels
    ADD CONSTRAINT experience_levels_pkey PRIMARY KEY (id);


--
-- Name: interview_feedback interview_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_feedback
    ADD CONSTRAINT interview_feedback_pkey PRIMARY KEY (id);


--
-- Name: interview_interviewers interview_interviewers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_interviewers
    ADD CONSTRAINT interview_interviewers_pkey PRIMARY KEY (id);


--
-- Name: interview_types interview_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_types
    ADD CONSTRAINT interview_types_pkey PRIMARY KEY (id);


--
-- Name: interviews interviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_pkey PRIMARY KEY (id);


--
-- Name: job_skills job_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: joining_checklists joining_checklists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.joining_checklists
    ADD CONSTRAINT joining_checklists_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: manpower_requisitions manpower_requisitions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT manpower_requisitions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: offers offers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT offers_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: reasons reasons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reasons
    ADD CONSTRAINT reasons_pkey PRIMARY KEY (id);


--
-- Name: recruitment_sources recruitment_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruitment_sources
    ADD CONSTRAINT recruitment_sources_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: requisition_skills requisition_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requisition_skills
    ADD CONSTRAINT requisition_skills_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: applications_candidateId_jobId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "applications_candidateId_jobId_key" ON public.applications USING btree ("candidateId", "jobId");


--
-- Name: assessment_answers_attemptId_questionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "assessment_answers_attemptId_questionId_key" ON public.assessment_answers USING btree ("attemptId", "questionId");


--
-- Name: assessment_attempts_applicationId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "assessment_attempts_applicationId_key" ON public.assessment_attempts USING btree ("applicationId");


--
-- Name: assessment_templates_jobId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "assessment_templates_jobId_key" ON public.assessment_templates USING btree ("jobId");


--
-- Name: candidate_skills_candidateId_skillId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "candidate_skills_candidateId_skillId_key" ON public.candidate_skills USING btree ("candidateId", "skillId");


--
-- Name: candidate_tags_candidateId_tag_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "candidate_tags_candidateId_tag_key" ON public.candidate_tags USING btree ("candidateId", tag);


--
-- Name: candidates_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX candidates_email_key ON public.candidates USING btree (email);


--
-- Name: departments_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX departments_code_key ON public.departments USING btree (code);


--
-- Name: departments_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX departments_name_key ON public.departments USING btree (name);


--
-- Name: designations_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX designations_code_key ON public.designations USING btree (code);


--
-- Name: designations_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX designations_name_key ON public.designations USING btree (name);


--
-- Name: educations_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX educations_name_key ON public.educations USING btree (name);


--
-- Name: email_templates_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX email_templates_name_key ON public.email_templates USING btree (name);


--
-- Name: employment_types_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX employment_types_name_key ON public.employment_types USING btree (name);


--
-- Name: experience_levels_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX experience_levels_name_key ON public.experience_levels USING btree (name);


--
-- Name: interview_feedback_interviewId_interviewerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "interview_feedback_interviewId_interviewerId_key" ON public.interview_feedback USING btree ("interviewId", "interviewerId");


--
-- Name: interview_interviewers_interviewId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "interview_interviewers_interviewId_userId_key" ON public.interview_interviewers USING btree ("interviewId", "userId");


--
-- Name: interview_types_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX interview_types_name_key ON public.interview_types USING btree (name);


--
-- Name: job_skills_jobId_skillId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "job_skills_jobId_skillId_key" ON public.job_skills USING btree ("jobId", "skillId");


--
-- Name: jobs_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX jobs_slug_key ON public.jobs USING btree (slug);


--
-- Name: joining_checklists_applicationId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "joining_checklists_applicationId_key" ON public.joining_checklists USING btree ("applicationId");


--
-- Name: manpower_requisitions_requisitionNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "manpower_requisitions_requisitionNumber_key" ON public.manpower_requisitions USING btree ("requisitionNumber");


--
-- Name: offers_applicationId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "offers_applicationId_key" ON public.offers USING btree ("applicationId");


--
-- Name: offers_offerNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "offers_offerNumber_key" ON public.offers USING btree ("offerNumber");


--
-- Name: password_resets_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX password_resets_token_key ON public.password_resets USING btree (token);


--
-- Name: permissions_resource_action_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX permissions_resource_action_key ON public.permissions USING btree (resource, action);


--
-- Name: reasons_name_type_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX reasons_name_type_key ON public.reasons USING btree (name, type);


--
-- Name: recruitment_sources_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX recruitment_sources_name_key ON public.recruitment_sources USING btree (name);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: requisition_skills_requisitionId_skillId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "requisition_skills_requisitionId_skillId_key" ON public.requisition_skills USING btree ("requisitionId", "skillId");


--
-- Name: role_permissions_roleId_permissionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "role_permissions_roleId_permissionId_key" ON public.role_permissions USING btree ("roleId", "permissionId");


--
-- Name: roles_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX roles_name_key ON public.roles USING btree (name);


--
-- Name: skills_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX skills_name_key ON public.skills USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: application_timeline application_timeline_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_timeline
    ADD CONSTRAINT "application_timeline_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: applications applications_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT "applications_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: applications applications_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT "applications_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public.jobs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: applications applications_sourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT "applications_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES public.recruitment_sources(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: assessment_answers assessment_answers_attemptId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_answers
    ADD CONSTRAINT "assessment_answers_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES public.assessment_attempts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: assessment_answers assessment_answers_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_answers
    ADD CONSTRAINT "assessment_answers_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public.assessment_questions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assessment_attempts assessment_attempts_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_attempts
    ADD CONSTRAINT "assessment_attempts_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assessment_attempts assessment_attempts_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_attempts
    ADD CONSTRAINT "assessment_attempts_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assessment_attempts assessment_attempts_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_attempts
    ADD CONSTRAINT "assessment_attempts_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public.assessment_templates(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assessment_questions assessment_questions_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions
    ADD CONSTRAINT "assessment_questions_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public.assessment_templates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: assessment_templates assessment_templates_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_templates
    ADD CONSTRAINT "assessment_templates_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public.jobs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_educations candidate_educations_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_educations
    ADD CONSTRAINT "candidate_educations_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_educations candidate_educations_educationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_educations
    ADD CONSTRAINT "candidate_educations_educationId_fkey" FOREIGN KEY ("educationId") REFERENCES public.educations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: candidate_experiences candidate_experiences_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_experiences
    ADD CONSTRAINT "candidate_experiences_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_notes candidate_notes_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_notes
    ADD CONSTRAINT "candidate_notes_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_notes candidate_notes_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_notes
    ADD CONSTRAINT "candidate_notes_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: candidate_skills candidate_skills_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_skills
    ADD CONSTRAINT "candidate_skills_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_skills candidate_skills_skillId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_skills
    ADD CONSTRAINT "candidate_skills_skillId_fkey" FOREIGN KEY ("skillId") REFERENCES public.skills(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: candidate_tags candidate_tags_candidateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_tags
    ADD CONSTRAINT "candidate_tags_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidates candidates_sourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT "candidates_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES public.recruitment_sources(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: interview_feedback interview_feedback_interviewId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_feedback
    ADD CONSTRAINT "interview_feedback_interviewId_fkey" FOREIGN KEY ("interviewId") REFERENCES public.interviews(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: interview_feedback interview_feedback_interviewerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_feedback
    ADD CONSTRAINT "interview_feedback_interviewerId_fkey" FOREIGN KEY ("interviewerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: interview_interviewers interview_interviewers_interviewId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_interviewers
    ADD CONSTRAINT "interview_interviewers_interviewId_fkey" FOREIGN KEY ("interviewId") REFERENCES public.interviews(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: interview_interviewers interview_interviewers_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_interviewers
    ADD CONSTRAINT "interview_interviewers_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: interviews interviews_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT "interviews_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: interviews interviews_interviewTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT "interviews_interviewTypeId_fkey" FOREIGN KEY ("interviewTypeId") REFERENCES public.interview_types(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: interviews interviews_scheduledById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT "interviews_scheduledById_fkey" FOREIGN KEY ("scheduledById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: job_skills job_skills_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT "job_skills_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public.jobs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: job_skills job_skills_skillId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT "job_skills_skillId_fkey" FOREIGN KEY ("skillId") REFERENCES public.skills(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: jobs jobs_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: jobs jobs_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: jobs jobs_designationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_designationId_fkey" FOREIGN KEY ("designationId") REFERENCES public.designations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: jobs jobs_employmentTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_employmentTypeId_fkey" FOREIGN KEY ("employmentTypeId") REFERENCES public.employment_types(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: jobs jobs_experienceLevelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_experienceLevelId_fkey" FOREIGN KEY ("experienceLevelId") REFERENCES public.experience_levels(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: jobs jobs_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public.locations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: jobs jobs_requisitionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_requisitionId_fkey" FOREIGN KEY ("requisitionId") REFERENCES public.manpower_requisitions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: jobs jobs_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT "jobs_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manpower_requisitions manpower_requisitions_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT "manpower_requisitions_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manpower_requisitions manpower_requisitions_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT "manpower_requisitions_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manpower_requisitions manpower_requisitions_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT "manpower_requisitions_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manpower_requisitions manpower_requisitions_designationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT "manpower_requisitions_designationId_fkey" FOREIGN KEY ("designationId") REFERENCES public.designations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manpower_requisitions manpower_requisitions_experienceLevelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT "manpower_requisitions_experienceLevelId_fkey" FOREIGN KEY ("experienceLevelId") REFERENCES public.experience_levels(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manpower_requisitions manpower_requisitions_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manpower_requisitions
    ADD CONSTRAINT "manpower_requisitions_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public.locations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: offers offers_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT "offers_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: offers offers_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT "offers_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: offers offers_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT "offers_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: password_resets password_resets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT "password_resets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: requisition_skills requisition_skills_requisitionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requisition_skills
    ADD CONSTRAINT "requisition_skills_requisitionId_fkey" FOREIGN KEY ("requisitionId") REFERENCES public.manpower_requisitions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: requisition_skills requisition_skills_skillId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requisition_skills
    ADD CONSTRAINT "requisition_skills_skillId_fkey" FOREIGN KEY ("skillId") REFERENCES public.skills(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: role_permissions role_permissions_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict zbeCXttzF6wn5wVt3T9DtgLx5v1Uyyol4LffvaY371FjU2ibGvL8jzp4zMYk4De

